/* import google font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: #000; */
}

.typedd {
  width: 300px;
  height: 500px;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0.6;
}

.typeLayer1 {
  position: absolute;
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.typeLayer1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(0.9px);
}
